#div1 {
    background-color: lightgray;
    border: 2px solid black;
    padding: 5px;
    position: fixed;
    left: 5px;
    top: 5px;
    bottom: 5px;
    width: 250px;
}
div2 {
    border: 2px solid black;
    position: fixed;
    padding: 5px;
    left: 266px;
    top: 5px;
    bottom: 5px;
    right: 5px;
}

.game-list-container {
    width: 250px;
    background-color: #5763b4;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .game-list-container h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
  }
  
  .scrollable {
    overflow-y: auto;
    max-height: calc(100vh - 60px); /* Account for h1 and padding */
  }

  .selected {
      font-style: italic;
      color: lightblue;
  }

.deselected {
    color: black;
    font-style: normal;
}

  /* html, body {
    margin: 0;
    padding: 0;
    background: #555;
  } */
  
  /* #globe {
    cursor: move;  
  }
  
  #current {
    position: absolute;
    color: white;
    font-family: sans-serif;
    margin-left: 4%;
    margin-top: 4%;
  } */

  .country
  {
    fill: #ccc ;
    stroke: #999 ;
  }
  